body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body.play {
  overflow-y: scroll;
}

#splash, #credits {
  background-color: black;
  color: white;

  box-sizing: border-box;
  margin: 0;
  padding: 2vh 2vw;
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  user-select: none;

  position: relative;
}

#splash, #creditsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#splash .fade-in-fade-out {
  opacity: 0;
  animation: 9s ease-in 1s fade-in-fade-out;
  position: absolute;
  text-align: center;
}

#splash #logo img {
  min-width: 100px;
  max-width: 90vw;
  max-height: 90vh;
}

#splash #cover {
  animation-delay: 10s;
}

img.cover {
  min-width: 100px;
  max-width: 90vw;
  max-height: 78vh;
}

#splash .author {
  font-size: calc(min(5vh, 5vw));
  margin: 1vh 0;
}

#splash .inform {
  font-size: calc(min(3vh, 3vw));
  margin: 1vh 0;
}

@keyframes fade-in-fade-out {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#credits {
  display: none;
}

#creditsOuterSizer {
  /* height set at runtime to match #creditsWrapper,
   * used in calc percentage later */
}

#creditsWrapper {
  animation: 40s linear 2s credits-scroll;
  top: 100vh;
  position: relative;

  max-width: calc(min(180vh, 90vw));
  margin: auto;
}

#creditsWrapper div {
  font-size: calc(min(10vh, 10vw));
  margin: 1em 0;
  text-align: center;
}
#creditsWrapper div:last-child {
  margin-top: 50vh;
  margin-bottom: 0;
}

#tauriCredit {
  /* Re-enabled in the desktop bundle at runtime. */
  display: none;
}

body.credits #credits {
  display: block; /* Not flex, or the centering is off */
}
body.credits #splash {
  display: none;
}

@keyframes credits-scroll {
  0% {
    top: 100vh;
    opacity: 1;
  }
  90% {
    /* -100% would fully offscreen, +50vh+1em centers the final line. */
    top: calc(-100% + 1em + 50vh);
    opacity: 1;
  }
  100% {
    top: calc(-100% + 1em + 50vh);
    opacity: 0;
  }
}

#backgroundMusic {
  display: none;
}
#noMusic {
  display: none;
}

#vorple, #uiblock, #menus{
  display: none;
}
body.play #vorple, body.play #uiblock, body.play #menus {
  display: block;
}
body.play #splash {
  display: none;
}

body[data-auto-complete="false"] #auto-complete {
  visibility: hidden;
}

#lineinput-field, .prompt-input {
  /* Small increase in space by the prompt.  This is cheaper than overwriting
   * the prompt on every turn, which is the only other way I found to keep the
   * prompt from reverting to stock on a "restart" command. */
  padding-left: 0.5em;
}
