.blockquote {
  /* Looks nice for a quote, and mimics other interpreters. */
  font-family: var(--default-font-mono);

  /* Offsets the block from the page. */
  background: aliceblue;
  border: 2px ridge grey;

  /* Makes the border stay back from the edge of the text, which is nice. */
  padding: 0.5em;

  /* Vorpal is creating a span for this, but to have the border and background
   * work the way we want, we style it as a block. */
  display: block;
}

.plaque-card {
  /* Offsets the block from the page. */
  background: palegoldenrod;
  border: 2px ridge grey;

  /* Makes the border stay back from the edge of the text, which is nice. */
  padding: 0.5em;

  /* Vorpal is creating a span for this, but to have the border and background
   * work the way we want, we style it as a block or inline-block.  Using
   * inline-block makes it hug the text, which I like better for the plaque. */
  display: inline-block;
}

.nameplate-card {
  /* Offsets the block from the page. */
  background: palegoldenrod;
  border: 2px ridge grey;

  /* Makes the border stay back from the edge of the text, which is nice. */
  padding: 0.5em;

  /* Vorpal is creating a span for this, but to have the border and background
   * work the way we want, we style it as a block.  Using inline-size: fit
   * makes it hug the text, and margin centers it. */
  display: block;
  inline-size: fit-content;
  margin: 0 auto;
}

.nameplate-card:first-line {
  font-family: cursive;
}

.unicorn-card {
  /* Offsets the block from the page. */
  background: aliceblue;
  border: 2px ridge grey;

  /* Makes the border stay back from the edge of the text, which is nice. */
  padding: 0.5em;

  /* Vorpal is creating a span for this, but to have the border and background
   * work the way we want, we style it as a block or inline-block.  Using
   * inline-block makes it hug the text, which I like better for the unicorn. */
  display: inline-block;

  /* We're going to position the "after" block over this one to insert content
   * that Inform can't (emoji). */
  position: relative;
  height: 20rem;
  width: 20rem;
}

.unicorn-card::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "🦄";
  font-size: 15rem;
  line-height: 20rem;
}

/* https://www.fontspace.com/kbkinderwrite-font-f15885 */
@font-face {
  font-family: 'KBKinderWrite';
  src: local('KBKinderWrite'),
       url('KBKinderWrite.woff') format('woff'),
       url('KBKinderWrite.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.checklist-block {
  /* Make it stand out, and look like paper. */
  display: block;
  background: aliceblue;
  border: 1px solid black;

  /* Fit to content. */
  inline-size: fit-content;

  /* Unless the content is larger 30 characters or so. */
  max-width: 30em;

  /* Add padding around the contents. */
  padding: 2em;
}

.checklist-contents {
  /* The story says it's "scribbled out in childish print", so let's emulate
   * that as much as we can. */

  /* A really childish, hand-written-looking font. */
  font-family: 'KBKinderWrite', cursive;
  font-weight: bold;
  font-size: 130%;
}

/* Don't highlight within the checklist. */
.checklist-contents .interesting-highlight {
  background: transparent;
}

.personnel-file-card {
  /* Make this look more like a typed document on yellowish paper. */
  display: block;
  background: lightyellow;
  font-family: var(--default-font-mono);
  border: 1px solid darkgrey;

  max-width: 24em;
  padding: 2em;
  margin: 1em auto;
}

.personnel-file-heading {
  display: block;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

/* Text indentation in Inform sucks and is hard to figure out.  Do it in CSS
 * instead, which sucks slightly less. */
.personnel-file-card > span {
  display: block;  /* Or else text-indent doesn't work */
  margin-left: 3.2em;  /* Indents all text */
  text-indent: -3.2em;  /* Unindents the first line by the same amount */
}

.personnel-file-heading > span {
  display: block;
}

.personnel-file-card img {
  max-width: 6em;
  float: right;
  margin-top: -1.5em;
  margin-right: -1.5em;
}


/* Based on https://codepen.io/thetypebeast/pen/KWNGGd by Jennifer */
body[data-effect="lsd"] #vorple {
  /* To let the LSD effect show through. */
  background: transparent;
}
body[data-effect="lsd"] #vorple::before {
  content: ""; /* required for ::before */
  position: fixed; /* don't scroll with page */
  z-index: -1; /* Just behind the text and stuff at index 0. */
  /* fill the page */
  width: 100%;
  height: 100%;
  /* fill the background with a gradient */
  background-image:
      radial-gradient(circle farthest-side at top right, transparent, #def),
      radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #fed);
  animation: lsd-bg-change 3s infinite;
}
@keyframes lsd-bg-change {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-180deg);
  }
}

/* https://www.1001fonts.com/lovecrafts-diary-font.html */
@font-face {
  font-family: 'LovecraftsDiary';
  src: local('LovecraftsDiary'),
       url('LovecraftsDiary.woff') format("woff"),
       url('LovecraftsDiary.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* The alien paper uses this strange font. */
.alien-paper {
  font-family: 'LovecraftsDiary';
}
/* This is explicitly the paper. */
span.alien-paper {
  /* Make it stand out, and look like paper. */
  display: block;
  background: aliceblue;
  border: 1px solid black;

  /* Fit to content. */
  inline-size: fit-content;

  /* Unless the content is larger 30 characters or so. */
  max-width: 30em;

  padding: 1em;
}

/* Though I can't figure out why, Inform/Vorple creates an empty span of this
 * class before the one with the content.  This hides it. */
span.alien-paper:empty {
  display: none;
}

/* When the whole page is in alien paper mode, everything is crazy, except the
 * alien paper itself, which reads in plain English. */
body[data-effect="alien-paper"] #vorple {
  font-family: 'LovecraftsDiary';
}
body[data-effect="alien-paper"] #lineinput {
  font-family: var(--default-font);
}
body[data-effect="alien-paper"] .alien-paper {
  font-family: var(--default-font);
}

.script-page {
  /* Make it stand out, and look like paper. */
  display: block;
  background: aliceblue;
  border: 1px solid black;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid darkgrey;

  /* Max out at 30 characters or so. */
  max-width: 30em;

  font-family: var(--default-font-mono);
}

.script-line {
  padding: 0 7em;
  display: block;
}

/* Infocom mode */
body[data-infocom="true"] .blockquote,
body[data-infocom="true"] .script-page,
body[data-infocom="true"] .personnel-file-card {
  background: #114;
}
body[data-infocom="true"] .unicorn-card,
body[data-infocom="true"] .checklist-block,
body[data-infocom="true"] span.alien-paper,
body[data-infocom="true"] .plaque-card,
body[data-infocom="true"] .nameplate-card {
  background: #114;
}
body[data-infocom="true"][data-effect="lsd"] #vorple::before {
  background-image:
      radial-gradient(circle farthest-side at top right, transparent, #642),
      radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #246);
}

/* Alien script and related effects override infocom mode. */
body[data-infocom="true"] .alien-paper {
  font-family: 'LovecraftsDiary';
}
body[data-infocom="true"][data-effect="alien-paper"] #vorple {
  font-family: 'LovecraftsDiary';
}
body[data-infocom="true"][data-effect="alien-paper"] #lineinput {
  font-family: var(--default-font-mono);
}
body[data-infocom="true"][data-effect="alien-paper"] .alien-paper {
  font-family: var(--default-font-mono);
}

/* These font choices stick even in infocom mode. */
body[data-infocom="true"] .nameplate-card:first-line {
  font-family: cursive;
}
body[data-infocom="true"] .checklist-contents {
  font-family: 'KBKinderWrite', cursive;
}
