.blockquote {
  /* Looks nice for a quote, and mimics other interpreters. */
  font-family: monospace;

  /* Offsets the block from the page. */
  background-color: aliceblue;
  border: 2px ridge grey;

  /* Makes the border stay back from the edge of the text, which is nice. */
  padding: 0.5em;

  /* Vorpal is creating a span for this, but to have the border and background
   * work the way we want, we style it as a block. */
  display: block;
}

.title-line {
  font-size: 130%;
}

.author-line, .copyright-line {
  font-size: 90%;
}

.room-heading {
  font-weight: bold;
  background-color: lavender;
}

/* Other room names, not in the heading that describes the current room. */
:not(.room-heading) > .room-name {
  font-weight: bold;
  background-color: lavenderblush;
}

.direction-name {
  font-weight: bold;
  background-color: lavenderblush;
}

.help-card {
  /* Offsets the block from the page. */
  background-color: beige;
  border: 2px ridge grey;

  /* Makes the border stay back from the edge of the text, which is nice. */
  padding: 0.5em;

  /* Vorpal is creating a span for this, but to have the border and background
   * work the way we want, we style it as a block. */
  display: block;
}
