<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, viewport-fit=contain">
    <title>[TITLE]</title>
    <meta name="author" content="[AUTHOR]">
    <link rel="icon" type="image/png" href="Icon.png">

<!--
 * Chicken Noodle Soap Text Adventure Game Interface
 *
 * Copyright 2025 Joey Parrish
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 *
 * You may obtain a copy of the License at
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->

    <link rel="stylesheet" href="roboto.css">
    <link rel="stylesheet" href="libre-baskerville.css">
    <link rel="stylesheet" href="courier-prime.css">

    <link rel="stylesheet" href="interpreter/jquery.powertip.css">
    <link rel="stylesheet" href="interpreter/toastr.css">
    <link rel="stylesheet" href="interpreter/vex.css">
    <link rel="stylesheet" href="interpreter/vex-theme-plain.css">

    <link rel="stylesheet" href="interpreter/haven.css">
    <link rel="stylesheet" href="interpreter/vorple.css">

    <link rel="stylesheet" href="cns.css">
    <link rel="stylesheet" href="game-style.css">

    <script src="cns.js"></script>
    <script src="textarea-caret.min.js"></script>
    <script src="interpreter/vorple.min.js"></script>
    <script src="interpreter/[TITLE_FILENAME].gblorb.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=[GA_KEY]"></script>
    <script>
      if ('[GA_KEY]') {
        window.dataLayer = window.dataLayer || [];
        window.gtag = function() { dataLayer.push(arguments); };
      } else {
        window.gtag = () => {};
      }
      gtag('js', new Date());
      gtag('config', '[GA_KEY]');
    </script>
    <script>
      window.STEAM_APP_ID = [STEAM_APP_ID];
    </script>
  </head>

  <body>
    <div id="splash">
      <div id="logo" class="fade-in-fade-out">
        <img src="Chicken-Noodle-Soap.jpg" alt="Chicken Noodle Soap">
      </div>
      <div id="cover" class="fade-in-fade-out">
        <img class="cover" src="Cover.jpg" alt="[TITLE]">
        <div class="covertext">
          <div class="author">[COPYRIGHT]</div>
          <!-- The Inform 7 license requires some form of attribution: -->
          <div class="inform">Created with Inform 7</div>
        </div>
      </div>
    </div>

    <div id="credits">
      <div id="creditsOuterSizer">
        <div id="creditsWrapper">
          <img class="cover" src="Cover.jpg" alt="[TITLE]">
          <div>A Chicken Noodle Soap Production</div>
          <div>Story by [AUTHOR]</div>
          <div>[DEDICATION]</div>

          <!-- Required attribution -->
          <div>Created with Inform 7<br>by Graham Nelson</div>
          <div>UI based on Vorple<br>by Juhana Leinonen</div>
          <div class="desktop-bundle-only">Desktop app built with NW.js</div>
          <div class="credits-copyright">[COPYRIGHT]</div>
        </div>
      </div>
    </div>

    <audio id="backgroundMusic" autoplay></audio>

    <div id="menus">
      <!-- These are hidden by default, but we start with a pause.  When the initial "title" pause ends, these will be shown. -->
      <button
          id="help-button" data-popup-container-id="help-card-container"
          class="popup-open floating-button hidden" title="help"><img src="help-icon.png" alt="help"></button>
      <button
          id="settings-button" data-popup-container-id="settings-card-container"
          class="popup-open floating-button hidden" title="settings"><img src="settings-icon.png" alt="settings"></button>
      <button
          id="transcript-button" data-popup-container-id="transcript-card-container"
          class="popup-open floating-button hidden" title="transcript"><img src="transcript-icon.png" alt="transcript"></button>

      <div id="help-card-container" class="hidden popup-container">
        <div id="help-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <p class="title">Help!</p>

          <p>
            <button
                class="floating-button-text popup-close popup-open"
                data-popup-container-id="how-do-i-play-card-container">How Do I Play?</button>
          </p>

          <p>
            <button
                class="floating-button-text popup-close popup-open"
                data-popup-container-id="map-card-container">Map</button>
          </p>

          <p>
            <button
                class="floating-button-text popup-close popup-open"
                data-popup-container-id="settings-card-container">Settings</button>
          </p>

          <p class="browser-only">
            <button
                class="floating-button-text popup-close popup-open"
                onapply="cns.achievements.showAchievements();"
                data-popup-container-id="achievements-card-container">Achievements</button>
          </p>

          <p>
            <button
                class="floating-button-text popup-close popup-open"
                data-popup-container-id="transcript-card-container">Send Feedback</button>
          </p>
        </div>
      </div>

      <div id="how-do-i-play-card-container" class="hidden popup-container">
        <div id="how-do-i-play-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <p class="title">How Do I Play?</p>

          <p>
            <b>TL;DR?</b>  This is interactive fiction / text adventure, where
            you control the main character and choose how the story goes.
            If you're new to this genre, we recommend you check the <button
                class="floating-button-text popup-close popup-open"
                data-popup-container-id="settings-card-container">settings</button>
            and enable "easy mode" and "auto-complete".  That will cut down on
            typing and allow you to experience the story in a more
            point-and-click way.
          </p>

          <hr>

          <p>
            Not sure how to play?  This style of text adventure game was popular in the 1980's, but isn't so common now.  We'll help you get started.
          </p>

          <p>
            The game is a story, and you are the main character!  Simply type what you want to do.  (Or use the auto-complete feature to select from suggested actions and objects.)  For example, you can <tt>look</tt> to see what's in the room, you can <tt>examine</tt> a thing to look more closely at it (such as <tt>examine clock</tt>), you can <tt>take</tt> certain objects, and you can move <tt>east</tt>, <tt>west</tt>, etc. to move from room to room.  Use the up and down arrow keys to move through your command history.
          </p>

          <p>
            To get the most out of this story, you should explore and talk to people (<tt>ask about ...</tt>) and look closely at objects of interest (<tt>examine ...</tt>)
          </p>

          <p>
            The game won't understand every possible sentence, so here is a quick guide to the commands and patterns you should know.  Some commands have single-letter aliases you can use (shown here in parentheses):
          </p>

          <ul>
            <li class="top">
              <b>Moving</b>
              <ul>
                <li>east (e) / west (w) / north (n) / south (s)</li>
                <li>down (d) / up (u)</li>
                <li>wait (z)</li>
              </ul>
            </li>

            <li class="top">
              <b>Searching</b>
              <ul>
                <li>look (l)</li>
                <li>examine (x) ...</li>
                <li>inventory (i)</li>
              </ul>
            </li>

            <li class="top">
              <b>Objects</b>
              <ul>
                <li>take ... / take all</li>
                <li>give ... / give ... to ...</li>
                <li>drop ...</li>
                <li>open ...</li>
                <li>drink ... / eat ...</li>
              </ul>
            </li>

            <li class="top">
              <b>People</b>
              <ul>
                <li>talk / talk to ...</li>
                <li>ask about ... / ask ... about ...</li>
              </ul>
            </li>

            <li class="top">
              <b>Game</b>
              <ul>
                <li>save / restore</li>
                <li>quit (q)</li>
              </ul>
            </li>
          </ul>

          <p>
            These are the most important things for most games.  Some games may use other actions, which will appear in auto-complete when appropriate.  Feel free to use your imagination, experiment, and see what happens!
          </p>

          <p>
            <b><i>Enjoy!</i></b>
          </p>
        </div>
      </div>

      <div id="map-card-container" class="hidden popup-container">
        <div id="map-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <img src="Map.svg">
        </div>
      </div>

      <div id="settings-card-container" class="hidden popup-container">
        <div id="settings-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <p class="title">Settings</p>

          <label for="music-toggle">
            Current music:
              <span id="noMusic">none playing</span>
              <a id="backgroundMusicLink" target="_blank"><span id="backgroundMusicCredit"></span></a>
          </label>
          <input id="music-toggle" class="toggle" type="checkbox"
              data-settings-key="chicken-noodle-soap--music"
              onapply="backgroundMusic.muted = !event.target.checked;">

          <label for="easy-mode-toggle">
            Easy mode: <span class="interesting-highlight">highlight text</span> you should pay attention to
          </label>
          <input id="easy-mode-toggle" class="toggle" type="checkbox"
              data-settings-key="chicken-noodle-soap--easy-mode"
              onapply="document.body.dataset.difficulty = event.target.checked ? 'easy' : 'medium';">

          <label for="auto-complete-toggle">
            Auto-complete: offer suggestions of verbs, objects, people, and topics based on context
          </label>
          <input id="auto-complete-toggle" class="toggle" type="checkbox"
              data-settings-key="chicken-noodle-soap--auto-complete"
              onapply="document.body.dataset.autoComplete = event.target.checked;">

          <label for="infocom-mode-toggle">
            Infocom mode: A dark, monospaced interface, more similar to classic Infocom text adventures.
          </label>
          <input id="infocom-mode-toggle" class="toggle" type="checkbox"
              data-settings-key="chicken-noodle-soap--infocom-mode"
              data-default-setting="false"
              onapply="document.body.dataset.infocom = event.target.checked ? 'true' : 'false';">

          <label for="fontSize">
            Font size:
          </label>
          <div>
            <button class="floating-button" onclick="fontSize.value--; fontSize.dispatchEvent(new Event('change'));">-</button>
            <button class="floating-button" onclick="fontSize.value++; fontSize.dispatchEvent(new Event('change'));">+</button>
            <input id="fontSize" type="range" style="display: none;"
                min="1" max="5"
                data-settings-key="chicken-noodle-soap--font-size"
                data-default-setting="2"
                onapply="document.documentElement.style.setProperty('--font-size', event.target.value + 'vh'); window.dispatchEvent(new Event('resize'));">
          </div>

          <!-- spacer -->
          <div class="desktop-bundle-only" style="height: 1em;"></div>

          <div class="desktop-bundle-only">
            <button class="floating-button-text" onclick="nw.Window.get().toggleFullscreen()">Toggle Fullscreen</button> (also F10)
          </div>

          <!-- spacer -->
          <div style="height: 1em;"></div>

          <div>
            <button
                id="license-button"
                class="floating-button-text popup-close popup-open"
                data-popup-container-id="license-card-container">Open Source Licenses</button>
          </div>
          <div>
            <button class="floating-button-text" onclick="cns.showCredits()">Credits</button>
          </div>

          <!-- spacer -->
          <div style="height: 1em;"></div>

          <details>
            <summary>Debug Info</summary>
            <p>Version [RELEASE]</p>
            <p id="is-mobile-browser">Mobile Browser</p>
            <p id="is-desktop-browser">Desktop Browser</p>
            <p id="is-desktop-bundle">Desktop Bundle</p>
            <p id="show-os"></p>
            <p class="desktop-bundle-only" id="show-cpu"></p>
            <p id="show-user-agent"></p>
          </details>
        </div>
      </div>

      <div id="license-card-container" class="hidden popup-container">
        <div id="license-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>

<details>
  <summary>
    Compiled with Inform, version 9.3, build 6M62 (I6/v6.33 lib 6/12N) SD
  </summary>

  <p>
    &copy; 2006 - 2015, Graham Nelson
  </p>

  <p>
    Inform is a programming language used for interactive fiction.
    For details, visit the Inform home page:
    <a target="_blank" href="https://ganelson.github.io/inform-website/">https://ganelson.github.io/inform-website/</a>
  </p>

  <p>
    This story was built with a pre-open-source version of Inform, v9.3.
    It can be downloaded from:
    <a target="_blank" href="https://ganelson.github.io/inform-website/downloads/">https://ganelson.github.io/inform-website/downloads/</a>
  </p>

  <p>
    We used a Docker image from:
    <a target="_blank" href="https://hub.docker.com/r/jkmatila/inform7-docker">https://hub.docker.com/r/jkmatila/inform7-docker</a>
  </p>
</details>

<details>
  <summary>
    Vorple user interface library for interactive fiction, version 3.2.8
  </summary>

  <p>
    &copy; 2011 - 2017, Juhana Leinonen
  </p>

  <p>
    <a target="_blank" href="https://vorple-if.com/">https://vorple-if.com/</a>
  </p>

  <p>
    Vorple is licensed under <a href="https://github.com/vorple/vorple/blob/master/LICENSE">the MIT License</a>.
  </p>
</details>

<details>
  <summary>
    textarea-caret, a utility used in our auto-complete feature, version 3.1.0
  </summary>

  <p>
    &copy; 2015, Jonathan Ong
  </p>

  <p>
    <a target="_blank" href="https://github.com/component/textarea-caret-position">https://github.com/component/textarea-caret-position</a>
  </p>

  <p>
    textarea-caret is licensed under <a href="https://github.com/component/textarea-caret-position/blob/master/LICENSE">the MIT License</a>.
  </p>
</details>

<details class="desktop-bundle-only">
  <summary>
    NW.js app framework, version 0.98.1
  </summary>

  <p>
    &copy; 2011-2019, NW.js Authors
  </p>

  <p>
    <a target="_blank" href="https://nwjs.io/">https://nwjs.io/</a>
  </p>

  <p>
    NW.js is licensed under <a href="https://github.com/nwjs/nw.js/blob/main/LICENSE">the MIT License</a>.
  </p>
</details>

<details>
  <summary>
    Roboto Font
  </summary>

  <p>
    &copy; 2011, The Roboto Project Authors
  </p>

  <p>
    <a target="_blank" href="https://github.com/googlefonts/roboto-3-classic">https://github.com/googlefonts/roboto-3-classic</a>
  </p>

  <p>
    Roboto is licensed under <a href="https://github.com/googlefonts/roboto-3-classic/blob/main/OFL.txt">the SIL Open Font License</a>.
  </p>
</details>

<details>
  <summary>
    Libre Baskerville Font
  </summary>

  <p>
    &copy; 2012, Pablo Impallari &amp; Rodrigo Fuenzalida
  </p>

  <p>
    <a target="_blank" href="https://github.com/impallari/Libre-Baskerville">https://github.com/impallari/Libre-Baskerville</a>
  </p>

  <p>
    Roboto Mono is licensed under <a href="https://github.com/impallari/Libre-Baskerville/blob/master/OFL.txt">the SIL Open Font License</a>.
  </p>
</details>

<details>
  <summary>
    Courier Prime Font
  </summary>

  <p>
    &copy; 2015, The Courier Prime Project Authors
  </p>

  <p>
    <a target="_blank" href="https://github.com/quoteunquoteapps/CourierPrime">https://github.com/quoteunquoteapps/CourierPrime</a>
  </p>

  <p>
    Courier Prime Font is licensed under <a href="https://github.com/quoteunquoteapps/CourierPrime/blob/master/OFL.txt">the SIL Open Font License</a>.
  </p>
</details>

<details>
  <summary>
    Lovecraft's Diary Font
  </summary>

  <p>
    &copy; 1999, Nate Piekos of Blambot Comic Fonts
  </p>

  <p>
    <a target="_blank" href="https://www.1001fonts.com/lovecrafts-diary-font.html">https://www.1001fonts.com/lovecrafts-diary-font.html</a>
  </p>

  <p>
    Freeware, see detailed license in zip file from
    <a target="_blank" href="https://www.1001fonts.com/download/lovecrafts-diary.zip">https://www.1001fonts.com/download/lovecrafts-diary.zip</a>:
  </p>

  <p>
    This font was created by Nate Piekos of Blambot Comic Fonts.  It's freeware to
    use as you'd like, but if you redistribute it, you must include this text file
    with the zip.<br>
    <br>
    ~Nate Piekos<br>
    Blambot Comic Fonts<br>
    <a target="_blank" href="https://www.piekosarts.com/blambotfonts">https://www.piekosarts.com/blambotfonts</a><br>
    <a target="_blank" href="mailto:blambot@piekosarts.com">blambot@piekosarts.com</a>
  </p>
</details>

<details>
  <summary>
    KB Kinder Write Font
  </summary>

  <p>
    &copy; 2013, Khrys Bosland
  </p>

  <p>
    <a target="_blank" href="https://www.fontspace.com/kbkinderwrite-font-f15885">https://www.fontspace.com/kbkinderwrite-font-f15885</a>
  </p>

  <p class="browser-only">
    Free for non-commercial use.
  </p>

  <p class="desktop-bundle-only">
    Licensed from the author for use in this paid game.
  </p>
</details>

<details>
  <summary>
    Game Icon
  </summary>

  <p>
    <img src="Icon.png" style="max-width: 100%" alt="game icon">
  </p>

  <p>
    The game's icon is based on
    <a target="_blank" href="https://freeicons.io/space-and-sci-fi-2/space-astronaut-helmet-icon-44022">https://freeicons.io/space-and-sci-fi-2/space-astronaut-helmet-icon-44022</a>,
    which is free for commercial use with a link to the author's website:
    <a target="_blank" href="https://wishforge.games/">https://wishforge.games/</a>.
  </p>
</details>

        </div>
      </div>

      <div id="achievements-card-container" class="hidden popup-container">
        <div id="achievements-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <p class="title">Achievements</p>
          <div id="achievement-container"></div>
        </div>
      </div>

      <div id="transcript-card-container" class="hidden popup-container">
        <div id="transcript-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <p class="title">Transcripts</p>

          <p>
            Would you like to <b>save a transcript</b> of your game?
          </p>

          <p>
            <button class="floating-button-text" onclick="cns.saveTranscript()">Save Transcript</button>
          </p>

          <hr>

          <p>
            Would you like to <b>send feedback</b> to the developers?
            A transcript of the current game will be included.
            (If you would like a reply, please include an email address.)
          </p>

          <div class="p">
            <div>
              <label for="transcriptComments">Feedback:</label>
            </div>
            <div>
              <textarea id="transcriptComments"></textarea>
            </div>
          </div>

          <p>
            <button class="floating-button-text" onclick="cns.reportBug(transcriptComments.value, event.target)">Send Feedback</button>
          </p>
        </div>
      </div>

    </div><!-- #menus -->
  </body>
</html>
