<!DOCTYPE html>
<html lang="en">
  <head>
    <title>[TITLE]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="[AUTHOR]">
    <link rel="icon" type="image/png" href="Icon.png">
    <link rel="stylesheet" href="roboto.css">

    <link rel="stylesheet" href="interpreter/jquery.powertip.css">
    <link rel="stylesheet" href="interpreter/toastr.css">
    <link rel="stylesheet" href="interpreter/vex.css">
    <link rel="stylesheet" href="interpreter/vex-theme-plain.css">

    <link rel="stylesheet" href="interpreter/haven.css">
    <link rel="stylesheet" href="interpreter/vorple.css">

    <link rel="stylesheet" href="cns.css">
    <link rel="stylesheet" href="game-style.css">

    <script src="cns.js"></script>
    <script src="textarea-caret.min.js"></script>
    <script src="interpreter/vorple.min.js"></script>
    <script src="interpreter/[TITLE_FILENAME].gblorb.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=[GA_KEY]"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '[GA_KEY]');
    </script>
  </head>

  <body>
    <div id="splash">
      <div id="logo" class="fade-in-fade-out">
        <img src="Chicken-Noodle-Soap.jpg" alt="Chicken Noodle Soap">
      </div>
      <div id="cover" class="fade-in-fade-out">
        <img class="cover" src="Cover.jpg" alt="[TITLE]">
        <div class="covertext">
          <div class="author">[COPYRIGHT]</div>
          <!-- The Inform 7 license requires some form of attribution: -->
          <div class="inform">Created with Inform 7</div>
        </div>
      </div>
    </div>

    <div id="credits">
      <div id="creditsOuterSizer">
        <div id="creditsWrapper">
          <img class="cover" src="Cover.jpg" alt="[TITLE]">
          <div>A Chicken Noodle Soap Production</div>
          <div>Story by [AUTHOR]</div>
          <div>[DEDICATION]</div>

          <!-- Required attribution -->
          <div>Created with Inform 7<br>by Graham Nelson</div>
          <div>UI based on Vorple<br>by Juhana Leinonen</div>
          <div id="desktopCredit">Desktop app built with NW.js</div>
          <div>[COPYRIGHT]</div>
        </div>
      </div>
    </div>

    <audio id="backgroundMusic" autoplay></audio>

    <div id="menus">
      <!-- These are hidden by default, but we start with a pause.  When the initial "title" pause ends, these will be shown. -->
      <button
          id="help-button" data-popup-container-id="help-card-container"
          class="popup-open floating-button hidden" title="help"><img src="help-icon.png" alt="help"></button>
      <button
          id="map-button" data-popup-container-id="map-card-container"
          class="popup-open floating-button hidden" title="map"><img src="map-icon.png" alt="map"></button>
      <button
          id="settings-button" data-popup-container-id="settings-card-container"
          class="popup-open floating-button hidden" title="settings"><img src="settings-icon.png" alt="settings"></button>
      <button
          id="transcript-button" data-popup-container-id="transcript-card-container"
          class="popup-open floating-button hidden" title="transcript"><img src="transcript-icon.png" alt="transcript"></button>

      <div id="help-card-container" class="hidden popup-container">
        <div id="help-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <p class="title">Help!</p>

          <p>
            Not sure how to play?  That's understandable.  This style of text adventure game was popular in the 1980's, but isn't so common now.  We'll help you get started.
          </p>

          <p>
            The game is a story, and you are the main character!  Simply type what you want to do.  For example, you can <tt>look</tt> to see what's in the room, you can <tt>examine</tt> a thing to look more closely at it (such as <tt>examine clock</tt>), you can <tt>take</tt> certain objects, and you can move <tt>east</tt>, <tt>west</tt>, etc. to move from room to room.
          </p>

          <p>
            To get the most out of this story, you should explore and talk to people (<tt>ask about ...</tt>) and look closely at objects of interest (<tt>examine ...</tt>)
          </p>

          <p>
            The game won't understand every possible sentence, so here is a quick guide to the commands and patterns you should know.  Some commands have single-letter aliases you can use (shown here in parentheses):
          </p>

          <ul>
            <li class="top">
              <b>Moving</b>
              <ul>
                <li>east (e) / west (w) / north (n) / south (s)</li>
                <li>down (d) / up (u)</li>
                <li>wait (z)</li>
              </ul>
            </li>

            <li class="top">
              <b>Searching</b>
              <ul>
                <li>look (l)</li>
                <li>examine (x) ...</li>
                <li>inventory (i)</li>
              </ul>
            </li>

            <li class="top">
              <b>Objects</b>
              <ul>
                <li>take ... / take all</li>
                <li>give ... / give ... to ...</li>
                <li>drop ...</li>
                <li>open ...</li>
                <li>drink ... / eat ...</li>
              </ul>
            </li>

            <li class="top">
              <b>People</b>
              <ul>
                <li>talk / talk to ...</li>
                <li>ask about ... / ask ... about ...</li>
              </ul>
            </li>

            <li class="top">
              <b>Game</b>
              <ul>
                <li>save / restore</li>
                <li>quit (q)</li>
              </ul>
            </li>
          </ul>

          <p>
            These are the most important things for our games, but feel free to use your imagination and see what happens!
          </p>

          <button class="popup-close floating-button-text">Close Help</button>
          <p>
            <b><i>Enjoy!</i></b>
          </p>
        </div>
      </div>

      <div id="map-card-container" class="hidden popup-container">
        <div id="map-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <img src="Map.svg">
        </div>
      </div>

      <div id="settings-card-container" class="hidden popup-container">
        <div id="settings-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <p class="title">Settings</p>

          <label for="music-toggle">
            Music:
              <span id="noMusic">none currently playing</span>
              <a id="backgroundMusicLink" target="_blank">Current background music <span id="backgroundMusicCredit"></span></a>
          </label>
          <input id="music-toggle" class="toggle" type="checkbox"
              data-settings-key="chicken-noodle-soap--music"
              onapply="backgroundMusic.muted = !event.target.checked;">

          <label for="easy-mode-toggle">
            Easy mode: <span class="interesting-highlight">highlight text</span> you should pay attention to
          </label>
          <input id="easy-mode-toggle" class="toggle" type="checkbox"
              data-settings-key="chicken-noodle-soap--easy-mode"
              onapply="document.body.dataset.difficulty = event.target.checked ? 'easy' : 'medium';">

          <label for="auto-complete-toggle">
            Auto-complete: offer suggestions of verbs, objects, people, and topics based on context
          </label>
          <input id="auto-complete-toggle" class="toggle" type="checkbox"
              data-settings-key="chicken-noodle-soap--auto-complete"
              onapply="document.body.dataset.autoComplete = event.target.checked;">

          <label for="fontSize">
            Font size:
          </label>
          <div>
            <button class="floating-button" onclick="fontSize.value--; fontSize.dispatchEvent(new Event('change'));">-</button>
            <button class="floating-button" onclick="fontSize.value++; fontSize.dispatchEvent(new Event('change'));">+</button>
            <input id="fontSize" type="range" style="display: none;"
                min="1" max="5"
                data-settings-key="chicken-noodle-soap--font-size"
                data-default-setting="2"
                onapply="document.documentElement.style.setProperty('--font-size', event.target.value + 'vh'); window.dispatchEvent(new Event('resize'));">
          </div>

          <!-- spacer -->
          <div style="height: 1em;">
          </div>

          <div>
            <button
                id="license-button"
                class="floating-button-text popup-close popup-open"
                data-popup-container-id="license-card-container">Open Source Licenses</button>
          </div>
          <div>
            <button class="floating-button-text" onclick="cns.showCredits()">Credits</button>
          </div>
        </div>
      </div>

      <div id="license-card-container" class="hidden popup-container">
        <div id="license-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>

<details>
  <summary>
    Compiled with Inform, version 9.3, build 6M62 (I6/v6.33 lib 6/12N) SD
  </summary>

  <p>
    &copy; 2006 - 2015, Graham Nelson
  </p>

  <p>
    Inform is a programming language used for interactive fiction.
    For details, visit the Inform home page:
    <a target="_blank" href="https://ganelson.github.io/inform-website/">https://ganelson.github.io/inform-website/</a>
  </p>

  <p>
    This story was built with a pre-open-source version of Inform, v9.3.
    It can be downloaded from:
    <a target="_blank" href="https://ganelson.github.io/inform-website/downloads/">https://ganelson.github.io/inform-website/downloads/</a>
  </p>

  <p>
    We used a Docker image from:
    <a target="_blank" href="https://hub.docker.com/r/jkmatila/inform7-docker">https://hub.docker.com/r/jkmatila/inform7-docker</a>
  </p>
</details>

<details>
  <summary>
    Vorple user interface library for interactive fiction, version 3.2.8
  </summary>

  <p>
    &copy; 2011 - 2017, Juhana Leinonen
  </p>

  <p>
    <a target="_blank" href="https://vorple-if.com/">https://vorple-if.com/</a>
  </p>

  <p>
    Vorple is licensed under the MIT License.
  </p>

  <p>
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
  </p>

  <p>
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.
  </p>

  <p>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
  </p>
</details>

<details>
  <summary>
    textarea-caret, a utility used in our auto-complete feature, version 3.1.0
  </summary>

  <p>
    &copy; 2015, Jonathan Ong
  </p>

  <p>
    <a target="_blank" href="https://github.com/component/textarea-caret-position">https://github.com/component/textarea-caret-position</a>
  </p>

  <p>
    textarea-caret is licensed under the MIT License.
  </p>

  <p>
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
  </p>

  <p>
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.
  </p>

  <p>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
  </p>
</details>

<details id="desktopLicense">
  <summary>
    NW.js app framework, version 0.98.0
  </summary>

  <p>
    &copy; 2015 四月橘林
  </p>

  <p>
    <a target="_blank" href="https://nwjs.io/">https://nwjs.io/</a>
  </p>

  <p>
    NW.js is licensed under the MIT License.
  </p>

  <p>
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
  </p>

  <p>
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
  </p>

  <p>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
  </p>
</details>

        </div>
      </div>

      <div id="transcript-card-container" class="hidden popup-container">
        <div id="transcript-card" class="popup">
          <button class="popup-close floating-button" title="close">X</button>
          <p class="title">Transcripts</p>

          <p>
            Here you can save a transcript of your gameplay or send one to the developers to report a bug.
          </p>

          <p>
            <button class="floating-button-text" onclick="cns.saveTranscript()">Save Transcript</button>
          </p>

          <div class="p">
            <div>
              <label for="transcriptComments">Bug Comments:</label>
            </div>
            <div>
              <textarea id="transcriptComments"></textarea>
            </div>
          </div>

          <p>
            <button class="floating-button-text" onclick="cns.reportBug(transcriptComments.value, event.target)">Report Bug</button>
          </p>
        </div>
      </div>

    </div><!-- #menus -->
  </body>
</html>
