<!DOCTYPE html>
<html>
<head>
  <title>[TITLE] by [AUTHOR]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="[AUTHOR]">
  <meta name="description" content="A page for the game [TITLE] by [AUTHOR].">
  <link rel="icon" type="image/png" href="Icon.png">
  <link rel="stylesheet" href="style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K4EXJ8VT8V"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-K4EXJ8VT8V');
  </script>
</head>
<body>
<div class="container">

  <div>
    <div class="coverimage"><a href="Cover.png"><img src="Cover.png"></a></div>
  </div>

  <div>
    <div class="introduction">
      <h1>[TITLE]</h1>
      <h2>By [AUTHOR]</h2>
      <div class="version">Release [RELEASE]</div>
    </div>

    <div class="synopsis">[BLURB]</div>

    <div class="giantplaylink">
      <a href="play.html">Click to Play</a>
    </div>

    <div class="playinfo">
      <p>
        <i>[TITLE]</i> was created with <a href="http://inform7.com/">Inform</a>
        and has IFID [IFID].
      </p>
      <p>
        We recommend you <a href="play.html">play in a browser</a>, since
        everyone has one of those, and we spent a lot of effort styling the
        game for that environment.
      </p>
      <p>
        But if you are an Interactive Fiction enthusiast, you may also
        <a href="MoonShot.gblorb">download the Blorb file</a> to play in the
        <a href="http://ifwiki.org/index.php/Glulx#Implementations">Glulx
        interpreter of your choice</a>.
      </p>
    </div>
  </div>

</div>
</body>
</html>
