<!DOCTYPE html>
<html>
<head>
  <title>[TITLE] by [AUTHOR]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="author" content="[AUTHOR]">
  <link rel="icon" type="image/png" href="Icon.png">
  <link rel="stylesheet" href="roboto.css">
  <script src="pause.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K4EXJ8VT8V"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-K4EXJ8VT8V');
    gtag('event', 'screen_view', {
      'app_name': '[TITLE]',
      'screen_name': 'play',
      'app_version': '[RELEASE]',
    });
  </script>
  <script>
    // Prevent the right-click context menu in desktop bundles.
    if (window.__TAURI__) {
      document.addEventListener('contextmenu', event => event.preventDefault());
    }
  </script>

  [INTERPRETERHEAD]

  <script src="events.js"></script>
</head>
<body class="play">

  <div id="gameport">[INTERPRETERBODY]</div>

</body>
</html>
