body {
  font-family: Roboto, sans-serif;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 2vh 2vw;
  height: 96vh;
  width: 96vw;

  overflow: hidden;
  user-select: none;

  position: relative;
}

.fade-in-fade-out {
  opacity: 0;
  animation-name: fadeInFadeOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 8s;
  position: absolute;
}

.cover {
  animation-delay: 0s;
}

.cover img {
  min-width: 100px;
  max-width: 90vw;
  max-height: 77vh;
}

.covertext {
  text-align: center;
}

.author {
  font-size: 5vh;
  margin: 1vh 0;
}

.version {
  font-size: 3vh;
  margin: 1vh 0;
}

@keyframes fadeInFadeOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
